<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data page</title>

    <link href="/css/table.css" rel="stylesheet">
</head>
<body>
    <h1>Страница отображения данных</h1>
    <a href="/data/all">
        <button type="button" id="all">Показать все</button>
    </a>
    <a href="/data/top-3-reasons">
        <button type="button" id="reasons">Показать ТОП 3 причины</button>
    </a>
    <a href="/data/top-3-duration-repairs">
        <button type="button" id="times">Показать ТОП 3 времени ремонта</button>
    </a>
    <a href="/data/repeated-repairs">
        <button type="button" id="repeat">Показать повторные ремонты</button>
    </a>
    <br/><br/>
    <a href="/control">На страницу управления</a>

    <h2>Ремонты банкоматов</h2>
    <table>
        <tr>
            <th class="header">CASE ID</th>
            <th class="header">ATM ID</th>
            <th class="header">Название управляющей причины</th>
            <th class="header">Начало</th>
            <th class="header">Окончание</th>
            <th class="header">Серийный номер</th>
            <th class="header">BANK_NM</th>
            <th class="header">Канал связи</th>
        </tr>
        <tr th:each="repair: ${repairs}">

            <td th:text="${repair.getCaseId()}"></td>
            <td th:text="${repair.getAtmId()}"></td>
            <td th:text="${repair.getReason()}"></td>
            <td th:text="${repair.getStartDate()}"></td>
            <td th:text="${repair.getEndDate()}"></td>
            <td th:text="${repair.getSerialNum()}"></td>
            <td th:text="${repair.getBankName()}"></td>
            <td th:text="${repair.getLinkChannel()}"></td>

        </tr>
    </table>

</body>
</html>