<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top 3 reasons</title>

    <link href="/css/table.css" rel="stylesheet">
</head>
<body>
    <h1>Data page</h1>
    <a href="/data/all">
        <button type="button" id="all">Show all</button>
    </a>
    <a href="/data/top-3-reasons">
        <button type="button" id="reasons">Show top reasons</button>
    </a>
    <a href="/data/top-3-repair-times">
        <button type="button" id="times">Show top repair times</button>
    </a>
    <a href="/data/repeat-repairs">
        <button type="button" id="repeat">Show repeat repairs</button>
    </a>
    <br/><br/>
    <a href="/control">Control page</a>

    <h2>Atm repairs</h2>
    <table>
        <tr>
            <th class="header">Название управляющей причины</th>
            <th class="header">CASE ID</th>
            <th class="header">ATM ID</th>
            <th class="header">Начало</th>
            <th class="header">Окончание</th>
            <th class="header">Серийный номер</th>
            <th class="header">BANK_NM</th>
            <th class="header">Канал связи</th>
        </tr>
        <tbody th:each="entry: ${reasonsList}">
            <tr>
                <td  th:rowspan="${#lists.size(entry.getValue()) + 1}"
                     th:text="${entry.getKey()}"></td>
            </tr>
            <tr th:each="reason: ${entry.getValue()}">

                <td th:text="${reason.getCaseId()}"></td>
                <td th:text="${reason.getAtmId()}"></td>
                <td th:text="${reason.getStartDate()}"></td>
                <td th:text="${reason.getEndDate()}"></td>
                <td th:text="${reason.getSerialNum()}"></td>
                <td th:text="${reason.getBankName()}"></td>
                <td th:text="${reason.getLinkChannel()}"></td>
            </tr>
        </tbody>

    </table>

</body>
</html>